[submodule "math"]
	path = math
	url = https://github.com/thenumbernine/MathWorksheets.git
	branch = master
[submodule "numrel-codegen"]
	path = numrel-codegen
	url = https://github.com/thenumbernine/numerical-relativity-codegen.git
	branch = master
[submodule "lua/ext"]
	path = lua/ext
	url = https://github.com/thenumbernine/lua-ext
	branch = master
[submodule "lua/vec-ffi"]
	path = lua/vec-ffi
	url = https://github.com/thenumbernine/vec-ffi-lua
	branch = master
[submodule "lua/matrix"]
	path = lua/matrix
	url = https://github.com/thenumbernine/lua-matrix
	branch = master
[submodule "lua/gl"]
	path = lua/gl
	url = https://github.com/thenumbernine/lua-gl
	branch = master
[submodule "lua/glapp"]
	path = lua/glapp
	url = https://github.com/thenumbernine/lua-glapp
	branch = master
[submodule "lua/bit"]
	path = lua/bit
	url = https://github.com/thenumbernine/lua-bit
	branch = master
[submodule "lua/template"]
	path = lua/template
	url = https://github.com/thenumbernine/lua-template
	branch = master
[submodule "lua/struct"]
	path = lua/struct
	url = https://github.com/thenumbernine/struct-lua
	branch = master
[submodule "lua/cl"]
	path = lua/cl
	url = https://github.com/thenumbernine/lua-opencl
	branch = master
[submodule "lua/image"]
	path = lua/image
	url = https://github.com/thenumbernine/lua-image
	branch = master
[submodule "lua/imgui"]
	path = lua/imgui
	url = https://github.com/thenumbernine/lua-imgui
	branch = master
[submodule "lua/imguiapp"]
	path = lua/imguiapp
	url = https://github.com/thenumbernine/lua-imguiapp
	branch = master
[submodule "lua/line-integral-convolution"]
	path = lua/line-integral-convolution
	url = https://github.com/thenumbernine/line-integral-convolution-lua
	branch = master
[submodule "lua/rule110"]
	path = lua/rule110
	url = https://github.com/thenumbernine/rule110-lua
	branch = master
[submodule "lua/n-points"]
	path = lua/n-points
	url = https://github.com/thenumbernine/n-points-lua
	branch = master
[submodule "lua/audio"]
	path = lua/audio
	url = https://github.com/thenumbernine/lua-audio
	branch = master
[submodule "lua/bignumber"]
	path = lua/bignumber
	url = https://github.com/thenumbernine/lua-bignumber
	branch = master
[submodule "lua/complex"]
	path = lua/complex
	url = https://github.com/thenumbernine/complex-lua
	branch = master
[submodule "lua/geographic-charts"]
	path = lua/geographic-charts
	url = https://github.com/thenumbernine/geographic-charts-lua
	branch = master
[submodule "lua/gnuplot"]
	path = lua/gnuplot
	url = https://github.com/thenumbernine/lua-gnuplot
	branch = master
[submodule "lua/langfix"]
	path = lua/langfix
	url = https://github.com/thenumbernine/langfix-lua.git
	branch = master
[submodule "lua/metric"]
	path = lua/metric
	url = https://github.com/thenumbernine/lua-metric
	branch = master
[submodule "lua/prime-spiral"]
	path = lua/prime-spiral
	url = https://github.com/thenumbernine/prime-spiral-lua
	branch = master
[submodule "lua/seashell"]
	path = lua/seashell
	url = https://github.com/thenumbernine/seashell-lua
	branch = master
[submodule "lua/symmath"]
	path = lua/symmath
	url = https://github.com/thenumbernine/symmath-lua.git
	branch = master
[submodule "lua/modules"]
	path = lua/modules
	url = https://github.com/thenumbernine/modules-lua
	branch = master
[submodule "lua/fibonacci-modulo"]
	path = lua/fibonacci-modulo
	url = https://github.com/thenumbernine/fibonacci-modulo
	branch = master
[submodule "lua/lambda-cdm"]
	path = lua/lambda-cdm
	url = https://github.com/thenumbernine/lambda-cdm-lua
	branch = master
[submodule "lua/surface-from-connection"]
	path = lua/surface-from-connection
	url = https://github.com/thenumbernine/surface-from-connection-lua
	branch = master
[submodule "glapp"]
	path = glapp
	url = https://github.com/thenumbernine/glapp-js
	branch = master
[submodule "lua/sand-attack"]
	path = lua/sand-attack
	url = https://github.com/thenumbernine/sand-attack
	branch = master
[submodule "lua/SphericalHarmonicGraphs"]
	path = lua/SphericalHarmonicGraphs
	url = https://github.com/thenumbernine/SphericalHarmonicGraphs
	branch = master
[submodule "lua/mesh"]
	path = lua/mesh
	url = https://github.com/thenumbernine/mesh-lua
	branch = master
[submodule "lua/dkjson"]
	path = lua/dkjson
	url = https://github.com/LuaDist/dkjson
	branch = master
[submodule "js"]
	path = js
	url = https://github.com/thenumbernine/js-util
	branch = master
[submodule "metric"]
	path = metric
	url = https://github.com/thenumbernine/metric
	branch = master
[submodule "black-hole-skymap"]
	path = black-hole-skymap
	url = https://github.com/thenumbernine/black-hole-skymap
	branch = master
[submodule "hydrodynamics"]
	path = hydrodynamics
	url = https://github.com/thenumbernine/hydrodynamics-js
	branch = master
[submodule "lua/neuralnet"]
	path = lua/neuralnet
	url = https://github.com/thenumbernine/lua-neuralnet
	branch = master
[submodule "lua/tensor"]
	path = lua/tensor
	url = https://github.com/thenumbernine/tensor-lua
	branch = master
[submodule "lua/htmlparser"]
	path = lua/htmlparser
	url = https://github.com/thenumbernine/htmlparser-lua
	branch = master
[submodule "lua/parser"]
	path = lua/parser
	url = https://github.com/thenumbernine/lua-parser
	branch = master
[submodule "lua/csv"]
	path = lua/csv
	url = https://github.com/thenumbernine/lua-csv
	branch = master
[submodule "lua/plot2d"]
	path = lua/plot2d
	url = https://github.com/thenumbernine/lua-plot2d
	branch = master
[submodule "lua/plot3d"]
	path = lua/plot3d
	url = https://github.com/thenumbernine/lua-plot3d
	branch = master
[submodule "lua/vec"]
	path = lua/vec
	url = https://github.com/thenumbernine/vec-lua
	branch = master
[submodule "lua/super_metroid_randomizer"]
	path = lua/super_metroid_randomizer
	url = https://github.com/thenumbernine/super-metroid-randomizer-lua
	branch = master
[submodule "lua/gui"]
	path = lua/gui
	url = https://github.com/thenumbernine/lua-gui
	branch = master
[submodule "lua/make"]
	path = lua/make
	url = https://github.com/thenumbernine/lua-make
	branch = master
[submodule "lua/ips"]
	path = lua/ips
	url = https://github.com/thenumbernine/lua-ips
	branch = master
[submodule "lua/earth-magnetic-field"]
	path = lua/earth-magnetic-field
	url = https://github.com/thenumbernine/earth-magnetic-field-lua
	branch = master
[submodule "space-game"]
	path = space-game
	url = https://github.com/thenumbernine/space-game-js
	branch = master
[submodule "bank-game"]
	path = bank-game
	url = https://github.com/thenumbernine/bank-game-js
	branch = master
[submodule "swinekeeper"]
	path = swinekeeper
	url = https://github.com/thenumbernine/swinekeeper
	branch = master
[submodule "emoji-lua"]
	path = emoji-lua
	url = https://github.com/thenumbernine/emoji-lua
	branch = master
[submodule "stupidrpg-game"]
	path = stupidrpg-game
	url = https://github.com/thenumbernine/stupidrpg-game-js
	branch = master
[submodule "elemental"]
	path = elemental
	url = https://github.com/thenumbernine/elemental
	branch = master
[submodule "dominion"]
	path = dominion
	url = https://github.com/thenumbernine/DominionCardChooser
	branch = master
[submodule "4d-renderer"]
	path = 4d-renderer
	url = https://github.com/thenumbernine/4d-renderer-js
	branch = master
[submodule "conway-life-webgl"]
	path = conway-life-webgl
	url = https://github.com/thenumbernine/conway-life-webgl
	branch = master
[submodule "poisson-solver"]
	path = poisson-solver
	url = https://github.com/thenumbernine/poisson-gpu-js
	branch = master
[submodule "topple"]
	path = topple
	url = https://github.com/thenumbernine/topple-js
	branch = master
[submodule "octonion-multiplication-table"]
	path = octonion-multiplication-table
	url = https://github.com/thenumbernine/octonion-multiplication-table-js
	branch = master
[submodule "wavefunction"]
	path = wavefunction
	url = https://github.com/thenumbernine/wavefunction
	branch = master
[submodule "time-dilation"]
	path = time-dilation
	url = https://github.com/thenumbernine/time-dilation
	branch = master
[submodule "thomas-precession"]
	path = thomas-precession
	url = https://github.com/thenumbernine/thomas-precession
	branch = master
[submodule "cpp/Topple"]
	path = cpp/Topple
	url = https://github.com/thenumbernine/Topple/
	branch = master
[submodule "lua/stat"]
	path = lua/stat
	url = https://github.com/thenumbernine/stat-lua
	branch = master
[submodule "lua/sphere-grid"]
	path = lua/sphere-grid
	url = https://github.com/thenumbernine/sphere-grid-lua
	branch = master
[submodule "lua/sdl"]
	path = lua/sdl
	url = https://github.com/thenumbernine/lua-sdl
	branch = master
[submodule "lua/interpreter"]
	path = lua/interpreter
	url = https://github.com/thenumbernine/lua-interpreter
	branch = master
