[submodule "math"]
	path = math
	url = https://github.com/thenumbernine/MathWorksheets.git
	branch = master
[submodule "numrel-codegen"]
	path = numrel-codegen
	url = https://github.com/thenumbernine/numerical-relativity-codegen.git
	branch = master
[submodule "surface-from-connection-lua"]
	path = surface-from-connection-lua
	url = https://github.com/thenumbernine/surface-from-connection-lua.git
	branch = master
[submodule "glapp-js"]
	path = glapp-js
	url = https://github.com/thenumbernine/glapp-js
	branch = master
[submodule "lua/ext"]
	path = lua/ext
	url = https://github.com/thenumbernine/lua-ext
	branch = master
[submodule "lua/vec-ffi"]
	path = lua/vec-ffi
	url = https://github.com/thenumbernine/vec-ffi-lua
	branch = master
[submodule "lua/matrix"]
	path = lua/matrix
	url = https://github.com/thenumbernine/lua-matrix
	branch = master
[submodule "lua/gl"]
	path = lua/gl
	url = https://github.com/thenumbernine/lua-gl
	branch = master
[submodule "lua/glapp"]
	path = lua/glapp
	url = https://github.com/thenumbernine/lua-glapp
	branch = master
[submodule "lua/bit"]
	path = lua/bit
	url = https://github.com/thenumbernine/lua-bit
	branch = master
[submodule "lua/template"]
	path = lua/template
	url = https://github.com/thenumbernine/lua-template
	branch = master
[submodule "lua/struct"]
	path = lua/struct
	url = https://github.com/thenumbernine/struct-lua
	branch = master
[submodule "lua/cl"]
	path = lua/cl
	url = https://github.com/thenumbernine/lua-opencl
	branch = master
[submodule "lua/image"]
	path = lua/image
	url = https://github.com/thenumbernine/lua-image
	branch = master
[submodule "lua/imgui"]
	path = lua/imgui
	url = https://github.com/thenumbernine/lua-imgui
	branch = master
[submodule "lua/imguiapp"]
	path = lua/imguiapp
	url = https://github.com/thenumbernine/lua-imguiapp
	branch = master
[submodule "lua/line-integral-convolution"]
	path = lua/line-integral-convolution
	url = https://github.com/thenumbernine/line-integral-convolution-lua
	branch = master
[submodule "lua/rule110"]
	path = lua/rule110
	url = https://github.com/thenumbernine/rule110-lua
	branch = master
[submodule "lua/n-points"]
	path = lua/n-points
	url = https://github.com/thenumbernine/n-points-lua
	branch = master
[submodule "lua/audio"]
	path = lua/audio
	url = https://github.com/thenumbernine/lua-audio
	branch = master
[submodule "lua/bignumber"]
	path = lua/bignumber
	url = https://github.com/thenumbernine/lua-bignumber
	branch = master
[submodule "lua/complex"]
	path = lua/complex
	url = https://github.com/thenumbernine/complex-lua
	branch = master
[submodule "lua/geographic-charts"]
	path = lua/geographic-charts
	url = https://github.com/thenumbernine/geographic-charts-lua
	branch = master
[submodule "lua/gnuplot"]
	path = lua/gnuplot
	url = https://github.com/thenumbernine/lua-gnuplot
	branch = master
[submodule "lua/langfix"]
	path = lua/langfix
	url = https://github.com/thenumbernine/langfix-lua.git
	branch = master
[submodule "lua/metric"]
	path = lua/metric
	url = https://github.com/thenumbernine/lua-metric
	branch = master
[submodule "lua/prime-spiral"]
	path = lua/prime-spiral
	url = https://github.com/thenumbernine/prime-spiral-lua
	branch = master
[submodule "lua/seashell"]
	path = lua/seashell
	url = https://github.com/thenumbernine/seashell-lua
	branch = master
[submodule "lua/SphericalHarmonicGraphs"]
	path = lua/SphericalHarmonicGraphs
	url = https://github.com/thenumbernine/SphericalHarmonicGraphs
	branch = master
[submodule "lua/symmath"]
	path = lua/symmath
	url = https://github.com/thenumbernine/symmath-lua.git
	branch = master
[submodule "lua/modules"]
	path = lua/modules
	url = https://github.com/thenumbernine/modules-lua
	branch = master
[submodule "lua/fibonacci-modulo"]
	path = lua/fibonacci-modulo
	url = https://github.com/thenumbernine/fibonacci-modulo
	branch = master
