[submodule "math"]
	path = math
	url = https://github.com/thenumbernine/MathWorksheets.git
	branch = master
[submodule "numrel-codegen"]
	path = numrel-codegen
	url = https://github.com/thenumbernine/numerical-relativity-codegen.git
	branch = master
[submodule "symmath"]
	path = symmath
	url = https://github.com/thenumbernine/symmath-lua.git
	branch = master
	
